body{
    font-family: 'Hind', sans-serif;
    background-color: white;
    font-size: 16px;
    
}
#right-side-container {
    position: fixed;
    right: 0;
    height: 100%;
    transition: .4s ease;
    transform: translateX(450px);
    z-index:120;
    
}
#right-side-container.active {
    transform: translateX(0);
}
#right-bar{
    width: 450px;
    height: 98%;
    background-color: rgba(255, 255, 255, 0);
    text-align: center;
    padding:30px 0px 20px 0px;
    
}

.right-bar-buttons {
    position: absolute;
    right: 450px;
    top: 200px;
    width: 40px;
    height: auto;
    padding: 5px 0;
    background: rgba(255, 255, 255, 0);
    border-radius: 4px 0 0 4px;
}
.right-bar-buttons i {
    display: block;
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    cursor: pointer;
    color: rgb(6, 21, 161);
    transition: .2s ease;
}
.right-bar-buttons i:hover {
    color: rgb(4, 16, 121);
}


#right-bar h1{
    font-weight: 600;
    padding: 0 0 15px 0;
}
#right-bar p{
    font-weight: 300;
    font-size: 12px;
    color: #666;
    line-height: 20px;
    padding-bottom: 30px;
}
#right-bar h1:nth-of-type(2){
    padding:15px 0 30px 0;
}
#right-bar .main:nth-of-type(even){
    margin:0 0 15px 0;
}
#right-bar .main{
    display: inline-block;
    margin:0 15px 15px 0;
    width: 180px;
    height: 100px;
    position: relative;
    z-index: 3;
    
    background-color: #000;
}
#right-bar .main .blur{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
#right-bar .main img{
    position: absolute;
    left: -5px;
    top: -5px;
    transition: 1s;
    z-index: 1;
}
#right-bar .main:hover .blur{
    filter: blur(1px);
    background-color: #0008;
    
}
#right-bar .main:hover img{
    transform: scale(0.95);
}
#right-bar .main:hover .txt{
    opacity: 1;
}
#right-bar .main .txt{
    width: 190px;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    opacity: 0;
    transition: 0.5s;
}
#right-bar .main .txt h2{
    position: absolute;
    color: #fff;
    top:25px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}
#right-bar .main .txt a{
    position: absolute;
    top:45px;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    border: 2px solid #fff;
    height: 20px;
    width: 90px;
    text-decoration: none;
    color: #fff;
    line-height: 22px;
    letter-spacing: 3px;
    font-size: 13px;
    text-align: center;
}
#right-bar .main .txt a:hover{
    background-color: #fff;
    color: #000;
}
header{
    color: white;
    height: 30px;
    background-color: rgb(26, 29, 207);
    padding:0 19% 0 19% ;
    font-size: 12px;
    font-weight: 600;
    line-height: 30px;

}

header a{
    color: white;
    text-decoration: none;
    padding-left: 20px;
}
header a:first-of-type{
    padding-left: 0;
}

header p{
    display: inline;
}

header .left{
    float: left;
}
header .left a{
    cursor: pointer;
}

header .right{
    float: right;
}

header i{
    padding: 0 10px 0 10px;
}

.headnav{
    top: 30px;
    position: sticky;
    top: 0px;
    left: 0;
    background-color: white;
    width: 100%;
    height:60px;
    line-height: 60px;
    z-index: 10;
    font-size: 12px;
    font-weight: 600;
}

.headnav img{
    transform: scale(0.5);
    height: 50px;
    float: left;
    padding: 0;
    position: relative;
    left: 14.7%;
    top: 5px;
}

.headnav div{
    float: right;
    padding-right: 17%;
}

.headnav a{
    color: black;
    text-decoration: none;
    margin-right: 30px;
}

.headnav a i{
    font-size: 8px;
    padding:0 10px 0 10px;
    
}


.main-page{
    position: relative;
    top: 0 ;
    color: black;
    text-align: center;
}

.main-page>.bigtxt>h1{
    font-size: 30px;
    font-weight: 600;
    line-height: 100px;
    letter-spacing: 2px;
    display: inline;
}

.main-page>.bigtxt{
   display: block;
  
}
.main-page>.kub{
    display: block;
    border-top:4px solid #444;
    width: 40px;
    height: 40px;
    margin:auto;
    position: relative;
    top:-10px;
}

.main-page>p{
    font-size: 15px;
    font-style: italic;
    width: 40%;
    margin:40px auto 40px;
    line-height: 20px;
}

.main-page>.live{
    border-bottom: 2px solid #444;
    width: 800px;
    margin:auto;
    padding-bottom:40px;
}

.main-page>.live>div{
    display: inline-block;
    padding: 0 5%;
}

.main-page>.live>div>h1{
    font-size:70px ;
    font-weight: 600;
}

.main-page>.live>div>p{
    font-size: 14px;
    letter-spacing: 5px;
}

.main-page .owl-.headnav{
    position: absolute;
    top: 50%;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    z-index: 4;
    font-size: 100px;
}

.main-page .owl-prev{
    float: left;
    margin-left: 5%;
}

.main-page .owl-next{
    float: right;
    margin-right: 5%;
}

.main-page>.primeri-list{
    margin: 10px 0 30px 0;
    height: 300px;
    width: 300px;
}

.main-page>.primeri-list>a{
    color: black;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    margin-right: 10px;
}

.main-page>.primeri-list>a:first-of-type{
    border-bottom: 1px solid wheat;
}

.main-page>.primeri-list>a:hover{
    border-bottom: 1px solid wheat;
}

.main-page>.primeri{
    display: block;
    width: 25%;
    height: 270px;
    
    position: relative;
    float: left;
    z-index: 3;
    
    background-color: #000;
}

.main-page>.primeri>img{
    width: 700px;
    height: 370px;
    position: absolute;
    top: -20%;
    left: -15%;
    transform: scale(0.8);
    transition: 5s;
    z-index: 1;
}

.main-page>.primeri>.txt{
    position: absolute;
    bottom: 0;
    left: 5%;
    z-index: 2;
    opacity: 0;
    transition: 1s;
}

.main-page>.primeri>.txt>h1{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}

.main-page>.primeri>.txt>p{
    font-style: italic;
}

.main-page>.primeri:hover img{
    transform: scale(0.89);
}

.main-page>.primeri:hover .txt{
    opacity: 1;
    transform: translateY(-50%);
}



.inputs{
    height: 500px;
    background-image: url(https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-of-white-painted-brick.jpg);
    
    
}

.inputs article{
    text-align: center;
    position: relative;
    top: 10%;
    color: black;
    font-size: 170%;
}



.inputs .inbox{
    position: relative;
    left: 18%;
    width: 80%;
    height: 80%;
    top: 15%;
    
}

.inputs>.inbox>form>input{
    margin: 2% 3% 2% 3%;
    width: 20%;
    height: 30px;
    font-size: 100%;
    color: rgb(182, 182, 182);
}
.inputs .inbox form select{
    margin: 2% 2.9% 2% 3%;
    width: 20.1%;
    height: 35px;
    font-size: 100%;
    color: rgb(182, 182, 182);
}

.inputs .inbox form .lastin{
    width: 17%;
    margin: 2% 3% 2% 3%;
}

.inputs .inbox form textarea{
    width: 74%;
    height: 200px;
    margin: 2% 3% 2% 3%;
    font-size: large;
}

.inputs .inbox form button{
    width: 12%;
    height: 30px;
    border-radius: 20px;
    margin: 2% 10% 2% 65%;
    background-color: #193285;
    color: white;
}




footer{
    background-color: #193285;
    
}

footer .fbox{
    height: 300px;
    background-image: url(https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-of-white-painted-brick.jpg);
    background-size: cover;
}

footer .fcontainer{
    
    height: 20em;
    
}

footer .fcontainer .fel{
    
    width: 80%;
    position: relative;
    left:10%;
    
    padding: 0;
    
    
    
}

footer .fcontainer .fel .lists-one{
    
    width: 200px;
    display: inline-block;
    position: relative;
    left: 20%;
    top: -2.8em;
    
}


footer .fcontainer .fel .lists-two{
    
    width: 200px;
    display: inline-block;
    left: 30%;
    position: relative;
    top: -7.5em;
    
}

footer .fcontainer .fel .lists-three{
    
    width: 300px;
    display: inline-block;
    right:-40%;
    position: relative;
    top: 3.5em;
    
    
}

footer .fcontainer .fel .lists-one h4{
    font-size: 17px;
    padding-bottom: 10px;
    
    
}
footer .fcontainer .fel .lists-two h4{
    font-size: 17px;
    padding-bottom: 10px;
    
}
footer .fcontainer .fel .lists-three h4{
    font-size: 17px;
    padding-bottom: 6px;
    
}

footer .fcontainer .fel .lists-three div{
    font-size: 17px;
    padding-bottom: 12px;
    
}

footer .fcontainer .fel .lists-one h4{
    text-decoration: none;
    color: white
}
footer .fcontainer .fel .lists-two h4{
    text-decoration: none;
    color: white
}
footer .fcontainer .fel .lists-three h4{
    text-decoration: none;
    color: white
}

footer .fcontainer .fel .lists-one div ul li{
    padding-top: 10px;
}
footer .fcontainer .fel .lists-one div ul li:first-child{
    padding-top: 0px;
}

footer .fcontainer .fel .lists-one div a{
    text-decoration: none;
    color: rgb(98, 137, 151);
    
    
}

footer .fcontainer .fel .lists-two div a{
    text-decoration: none;
    color: rgb(98, 137, 151);
}

footer .fcontainer .fel .lists-three div a{
    text-decoration: none;
    color: white
}

footer .fcontainer .fel .lists-three div a i{
    font-size: 40px;
    margin: 2px;
}

footer .flbox{
    height: 100px;
    background-color: rgba(8, 17, 138, 0.561);
    text-align: center;
    color: white;
    position: relative;
    
}

footer .flbox span{
    margin: 0;
   
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

.contacts{
    
    background-image: url(https://st4.depositphotos.com/1066611/21052/i/600/depositphotos_210523940-stock-photo-pattern-of-white-painted-brick.jpg);
    background-size: cover;
    
}

.contacts article{
    text-align: center;
    position: relative;
    padding: 5% 5% 2% 5%;
    font-weight: bolder;
    font: large;
}

.contacts .colcont{
    position: relative;

}

.contacts .colcont .col{
    display: inline-block;
    position: relative;
    left: 18%;
    right: 18%;
    padding: 2% 5% 4% 5%;
    text-align: center;


}

.contacts .colcont .col h2{
    padding-bottom: 8%;
    padding-top: 8%;
    font-weight: bolder;
}

.contacts .colcont .col a{
    display: block;
    padding-bottom: 5%;
    text-decoration: none;  

}

